[2014-06-17 17:55] jturkel opened #2 "Can't install in Rails 3.2 app when using RubyGems hosted gem"
When trying to use the RubyGems hosted gem in a Rails 3.2 app I get the following error:

[code]

The workaround is to instead use the tag in the Gemfile:

[code]

[2014-06-17 18:31] #2 closed, assigned to jturkel

[2014-06-19 16:22] Bertg opened #3 "exists? method should take an argument"
According to the [rails documentation](http://api.rubyonrails.org/classes/ActiveRecord/FinderMethods.html#method-i-exists-3F) the exists? method should take one argument as a condition.

The current implementation does not do this.

[2014-06-20 02:00] #3 closed, assigned to jturkel

[2014-06-20 08:38] Bertg opened #4 "Associations break in after destroy"
Imagine following situation.

[code]

When you destroy the user in plain AR it works fine. With Goldiloader activated it will claim user is nil. This can be fixed by loading the user association before the destroy is called, but it is surprising behaviour non the less.

I believe that the issue lays here [lib/goldiloader/association_loader.rb:29](https://github.com/salsify/goldiloader/blob/master/

[2014-06-20 15:20] #4 closed, assigned to jturkel

[2014-06-21 18:35] jturkel opened #5 "Get ActiveRecord unit tests passing with goldiloader"
Get the ActiveRecord 3.2, 4.0, and 4.1 unit tests passing (at least the applicable ones) with goldiloader. This would be a great way to see if we broken anything (e.g. #3 and #4 probably would have been caught by this).

Suggested by @Bertg

[2014-06-21 20:39] jturkel opened #6 "Auto eager loaded models not marked as read only"
The readonly option on associations doesn't work with Goldiloader:

[code]

`blog.posts.first.readonly?` returns `false`. Note Rails 4 syntax for this option is different.

This appears to be a bug in Rails since it reproduces without Goldiloader using regular eager loading (at least in Rails 3.2.18). I'll also file a bug with Rails about this.

[2014-06-21 20:48] jturkel opened #7 "Goldiloader attempts to eager load uneager loadable associations"
There are several Rails 3.2 association options that don't seem to work properly with eager loading:
- `limit`
- `group`
- `finder_sql`
- `offset`

In Rails 4 these options are set via block.

We should not attempt to eager load these problematic associations.

Note: Rails seems to let you eager load these associations and then either returns wrong results or if you're luck throws an exception (e.

[2014-06-21 20:54] jturkel opened #8 "Exception when association method overridden"
If an association method is overridden to return non-model objects then Goldiloader blows up:

[code]

Leads to the following exception:

[code]

[2014-06-22 03:31] #8 closed, assigned to jturkel

[2014-06-22 18:37] #6 closed, assigned to jturkel

[2014-06-22 20:24] #7 closed, assigned to jturkel

[2014-06-24 01:39] jturkel opened #11 "Auto eager loading broken for associations that join a column used in an order"
Consider the following models:

[code]

Auto eager loading (and regular eager loading) is broken for the `Blog` `post` association:

[code]

[2014-06-27 03:04] jturkel opened #12 "Auto eager loading broken for has_many through associations where the model is an STI subtype"
Example models:

[code]

Can't auto eager load (or regular eager load) `Group#articles`.

Underlying issue is https://github.com/rails/rails/issues/11078. Workaround is to set `auto_include = false` on these associations

[2014-06-27 12:39] jturkel opened #13 "Auto eager loading broken for associations that use unscope"
[code]

Auto eager loading (and regular eager loading) of `Blog#all_posts` ignores the `unscope`.

Corresponding Rails bug is https://github.com/rails/rails/issues/11036. Workaround is to set `auto_include = false` on the association.

[2014-06-28 01:29] jturkel opened #14 "Can't auto eager load has_many through association with a scope that uses includes"
Consider the following models:

[code]

Attempting to auto eager load (or regular eager load) `Blog#authors` results in the following error:

[code]

Underlying Rails bug is fixed by https://github.com/rails/rails/pull/12725. Workaround in Golidloader is to set `auto_include = false`.

[2014-06-29 02:45] jturkel opened #15 "Don't auto eager load associations with finder_sql in Rails 4.0"
Currently this is only done for Rails 3.2. The `finder_sql` option also exists in Rails 4.0 but is deprecated.

[2014-06-29 02:49] #15 closed, assigned to nobody

[2014-09-12 15:31] jturkel opened #16 "Auto eager loading broken for has_and_belongs_to_many associations that use the uniq option"
Consider the following models:

[code]

The `uniq` option is ignored by Rails when eager loading `Post#authors`.

Note this is only a problem in Rails 3 since the `uniq` option was removed in Rails 4 (in favor of using a lambda to customize the association scope).

[2014-09-12 18:41] #16 closed, assigned to nobody

[2014-09-12 19:41] jturkel opened #17 "Models loaded via eager_load don't auto eager load nested associations"
Here's a test case:

[code]

[2014-09-12 19:50] #5 closed, assigned to jturkel

[2014-09-15 15:32] #17 closed, assigned to jturkel

[2014-09-19 19:50] dvandersluis opened #18 "Auto eager loading broken for has many through queries that specify select or order"
I'm not sure if this is the same bug as #12, but a has many through association that specifies `select` or `order` referring to the source table crashes and needs the workaround/fix as well.

For example:

[code]

[2014-10-10 15:31] jturkel opened #19 "Add Rails 4.2 support"

[2014-10-25 19:31] jturkel opened #20 "Don't auto eager load associations with instance dependent scopes"
Rails 4 and above support instance dependent association scopes which cannot be eager loaded e.g.

[code]

Goldiloader should disable auto eager loading for these associations.

Noticed this because Rails 4.2 added a deprecation warning when attempting to eager load these associations.

[2014-10-25 19:35] #20 closed, assigned to nobody

[2014-10-25 19:46] jturkel opened #21 "Explicit eager_load fails if singular association returns nil"
Calls like the following `Post.eager_load(:author).to_a` fail if any of the authors are nil. This is related to the fix for #17.

[2014-10-25 19:49] #21 closed, assigned to nobody

[2014-10-25 20:23] jturkel opened #22 "Enable Rails 4.2 tests with JRuby"
Blocked on https://github.com/jruby/activerecord-jdbc-adapter/issues/575

[2014-10-25 20:40] #19 closed, assigned to nobody

[2014-10-31 13:17] jturkel opened #23 "Loading polymorphic belongs_to associations sometimes fails in Rails 4"
Goldiloader fails to load polymorphic belongs_to associations in Rails 4 when the values have a mix of nil and non-nil values.

The corresponding stack trace is:

[code]

[2014-10-31 13:24] #23 closed, assigned to nobody

[2015-04-19 09:47] KelseyDH commented on #18
+1 For this bug.  On the latest version of Goldiloader (0.0.9) I got an error when trying to process an `:order` in a `:through` ( https://github.com/warneboldt/frasernw/blob/master/app/models/clinic.rb#L19-L20):
[code]
In rails console with this Model, when I do:
@clinic = Clinic.last
@clinic.languages.present?

I get this error:

[code]

Originally thought it was my `default_scope` on Clinic tha

[2015-04-19 19:12] jturkel commented on #11
Looks like the Rails issue with eager loading an association with a `joins` was fixed in Rails 4.2 via https://github.com/rails/rails/pull/17678. I'm going to remove the workaround for version of Rails >= 4.2. The comment by @dvandersluis for problems eager loading has_many through associations with a `order` or `select` is being tracked by #18.

[2015-04-19 19:25] jturkel commented on #13
This was fixed in Rails 4.1.9 (via https://github.com/rails/rails/commit/d5569391cf35cf1baa787cba72ff5d7cc703277a) and Rails 4.2.0 (via https://github.com/rails/rails/commit/0f3cefa445c6b43711b29f38257adcedede74baa). I'm going to remove the Goldiloader workaround for this issue.

[2015-04-19 19:50] #13 closed

[2015-04-19 20:39] #11 closed

[2015-04-27 13:17] KelseyDH commented on #18
Ran into a slightly different, but similar variation of this bug that prevents using "auto_include: true" patch to this issue.  In [associations looking like this] (https://github.com/warneboldt/frasernw/blob/rails3.2.18/app/models/procedure.rb#L7) connected to a (default scope ordering(https://github.com/warneboldt/frasernw/blob/master/app/models/specialization.rb#L22), I get the following error:

[2015-05-01 13:27] jturkel commented on #18
I'll take a look next week to see what we can do here while still supporting has many through associations that eager load properly in the various version of Rails.

In the meantime, one possibility is changing the default for `auto_include` for has many through associations and only enabling `auto_include` for has many through associations that are eager loadable. The default can be changed with

[2015-08-05 21:37] juanpastas opened #25 "Not loading has_one resources"
I tried with a discussion class which:

[code]

And I got several queries for the first two. Topic is fine.

[2015-08-06 00:21] jturkel commented on #25
@juanpastas - Do you have a small reproducible test case for this problem?

[2015-08-06 01:42] juanpastas commented on #25
How could I create one? doing a Rails app?

[2015-08-06 12:44] jturkel commented on #25
The easiest reproducible test cases to work with are gists that use the [Active Record bug template](https://github.com/rails/rails/blob/master/guides/bug_report_templates/active_record_gem.rb) (you'll have to update the gem section to include goldiloader).

In the meantime can you answer a few questions on the issue you're seeing:

* What version of Active Record and Goldiloader are you using?
*

[2015-08-06 14:45] juanpastas commented on #25
- Rails 4.2.2, latest version of goldiloader
- I am using bullet gem to report N+1 queries, so I see the message on the page and rails server logger.
-  `belongs_to :assignment, counter_cache: true`
- Problem disappears when I use `current_user.discussions.includes(:classroom, :content, :topic)` and delete gem from Gemfile.

[2015-08-10 13:04] jturkel opened #27 "ActiveRecord 5.0 Support"
This is issue is to track progress towards ActiveRecord 5.0 support.

[2015-08-14 15:15] jturkel commented on #25
@juanpastas - I couldn't reproduce this problem. I focused on the `content` and `assignment` associations and everything worked fine. The test can be found [here](https://gist.github.com/jturkel/9ff605075ca25248f063). Can you take a look and see if you can reproduce the problem?

[2015-08-14 22:01] juanpastas commented on #25
I [tried](https://github.com/juanpastas/goldiloader_has_one) too, but I could not reproduce it. I should have done something wrong.

[2015-08-14 22:01] #25 closed

[2015-09-16 17:52] Jrsnow8921 opened #28 "Identifier is too long"
Is it possible for me to shorten the length of the 'as' identifier to under 30 char, due to the fact of oracle having identifiers be under 30 char..

OCIError: ORA-00972: identifier is too long: SELECT "CR_AREAS".*, "T0"."CONTRACT_ID" AS ar_association_key_name_contract_id FROM "CR_AREAS" INNER JOIN "CR_AREAS_CONTRACTS" "T0" ON "CR_AREAS"."ID" = "T0"."AREA_ID" WHERE "T0"."CONTRACT_ID" IN (10437, 1

[2015-09-16 18:18] jturkel commented on #28
This SQL is generated by ActiveRecord. Do you get the same error if you try to eager load this association via an `includes` without Goldiloader?

[2015-09-16 18:39] Jrsnow8921 commented on #28
It works with includes, but using Goldiloader it gives my 'as' identifier to many chars. @jturkel

[2015-09-17 00:21] jturkel commented on #28
@Jrsnow8921 - Hmm. That's strange. Goldiloader doesn't generate any SQL. It just uses the Rails `ActiveRecord::Associations::Preloader` class which is the same thing Rails uses to process an eager load via `includes`. (See https://github.com/salsify/goldiloader/blob/master/lib/goldiloader/association_loader.rb#L23 if you're curious for more details). Do you have a reproducible test case I can take

[2015-09-17 10:42] Jrsnow8921 commented on #28
Well I had a a duh moment, and was testing the include in a different model than the one I was having problems with. Needless to say I just shortened my column names down and it worked, thanks for your help!

[2015-09-17 13:53] #28 closed

[2015-10-01 02:51] #22 closed

[2015-12-04 01:46] kidlab opened #29 "It eager-loaded the AR::Relation when calling `==` method"
I recently had trouble with unexpected eager-loading. I have something like this:

[code]
[code]

The expected result of `filter_scope` is an `ActiveRecord::Relation` object and it should not execute any queries. However, it triggered the query at the line `scope = scope.rank if scope == Post`:
[code]

If I change the variables position, the problem goes away:
[code]

And if I disable Goldiloader,

[2015-12-04 12:06] jturkel commented on #29
Thanks for filing the issue. I'll take a look.

[2015-12-05 00:26] jturkel commented on #29
@kidlab - I wasn't able to reproduce this problem. A gist with a test case based on your description can be found [here](https://gist.github.com/jturkel/81b359e19d451cd3b70d). Can you take a look and see if you can come up with a reproducible test case?

[2015-12-05 00:54] kidlab commented on #29
Sorry @jturkel the real code actually use an AR association `filter_scope(user.posts)`. I updated the description. You might be able to reproduce the problem now.

[2015-12-05 02:18] kidlab commented on #29
I double-checked the problem, looks like it's a nature of Rails when we perform `==` on an `ActiveRecord::Associations::CollectionProxy` within any kinds of objects, it will try to load the collection firstly, then compares these objects.

[code]

Interestingly that it does not happen with an `ActiveRecord::Relation`:

[code]

So, this does not belong to Goldiloader. I'm sorry for my mistake, than

[2015-12-05 02:18] #29 closed

[2015-12-05 02:44] jturkel commented on #29
No worries. Glad it didn't turn out to be a Goldiloader issue :)

[2015-12-28 21:46] jturkel commented on #27
This work is being done on the `feature/rails-5` branch. Work includes:

- [x] Gemspec and Travis updates
- [x] Fix registration of association options
- [ ] Fix tests with overridden `from` clause
- [ ] Compare ActiveRecord 4.2 and 5.0 for any interesting changes we should be aware of
- [ ] Fix `alias_method_chain` deprecation
- [ ] Get Rails 5 unit tests passing with Goldiloader

[2016-01-10 04:12] jturkel commented on #27
It looks like customizing the `from` of an association's scope is broken in Rails 5 causing two Goldiloader test failures. See https://github.com/rails/rails/issues/22996.

[2016-01-10 04:30] jturkel commented on #27
Database cleaner is generating a deprecation warning when running tests in Rails 5. See https://github.com/DatabaseCleaner/database_cleaner/issues/412.

[2016-02-25 16:44] jturkel opened #30 "JRuby 9000 Support"
Hopefully this is just enabling tests on JRuby 9000 but life is rarely that easy.

[2016-02-25 17:00] jturkel commented on #27
Initial Rails 5 support added in 1d1ba60

[2016-02-25 18:09] jturkel commented on #30
We won't be able to test JRuby 9000 with Rails 5 until https://github.com/jruby/activerecord-jdbc-adapter/issues/708 is fixed.

[2016-02-25 18:21] jturkel commented on #30
Fixed in 0439b1a750626df2fb657b0b23cf203115826c3a

[2016-02-25 18:21] #30 closed

[2016-03-05 18:35] jturkel commented on #12
I've confirmed this is still an issue on Rails master.

[2016-03-05 18:46] jturkel commented on #14
I've confirmed this problem still exists in Rails master. Reproducible test case can be found here: https://gist.github.com/jturkel/fc4cca3949724da4b902

[2016-03-05 18:50] jturkel commented on #14
Looks like there's a new Rails PR up to fix this issue: https://github.com/rails/rails/pull/23100

[2016-03-05 19:15] jturkel commented on #18
This bug seems to have been fixed in Rails 4.1+. Reproducible test case can be found here: https://gist.github.com/jturkel/447257f08372a80e6893. For earlier versions of Rails the potential workarounds are:

1. Change the auto include behavior for the problematic association by specifying `auto_include: false` as an association option.
2. Change the default auto include behavior for has many throug

[2016-03-23 13:15] jturkel commented on #18
@KelseyDH - I've been thinking about your use case with a `default_scope` that specifies an order by, can you just specify `auto_include: false` on your `specializations` association to workaround the Rails bug?

[2016-04-08 23:23] tjchambers opened #31 "Getting nomethoderror 'each' on NilClass after adding this gem"
This gem looks like it would really simplify my performance hunt. But after adding it I am getting in a number of places NoMethodError 'each' on NilClass. Here is one code  #sample:

[code]

I get errors on the .select line, and was getting errors on the candidates.any? line which was `candidates.blank?` before I changed it to `!candidates.any?`. I tried `candidates.none?` and that still elicited

[2016-04-08 23:42] jturkel commented on #31
What is the full stack trace of the exception?

[2016-04-08 23:46] tjchambers commented on #31
[code]

[2016-04-08 23:47] tjchambers commented on #31
Line #73 is the .select line.

[2016-04-08 23:48] tjchambers commented on #31
BTW goldiloader. Nice name.

[2016-04-09 00:23] jturkel commented on #31
Hah. I have to give credit to @mattcross for the name.

I can't reproduce the issue. A few questions:

1) If you remove the goldiloader gem, do you still see the problem if you load the association via Rails eager loading (i.e. something like `User.includes(:persons).find(...)`)
2) Can you try modifying this [gist](https://gist.github.com/jturkel/f5c0d53c3af652d7922eda686deb1553) to reproduce the

[2016-04-09 00:26] tjchambers commented on #31
I need to step away but will do what you request and post results ASAP. Thanks for looking at it.

[2016-04-09 00:36] tjchambers commented on #31
Here is results to reproduce #1:

[code]

[2016-04-09 01:43] tjchambers commented on #31
@jturkel based on my being able to reproduce sane goldiloader, should I still use your gist? or should I use a standard active record example to reproduce in a test?

[2016-04-09 01:47] jturkel commented on #31
Sounds like you've either found a bug in Rails eager loading or the `User#persons` association is somehow configured incorrectly. It looks like you're using `Person#email` as the foreign key in the association. I noticed in your query log that the user has an email of "tchambers@schellingpoint.com" but the person has an email "tChambers@Schellingpoint.com" which could definitely confuse Rails. Wha

[2016-04-09 02:00] tjchambers commented on #31
It's the other way around, but I tried making them both exactly same lowercase and still get the error.

I will try the auto_include option and see if this shows elsewhere. It appears to NOT be a goldiloader issue, but one in Rails.

[2016-04-09 02:01] tjchambers commented on #31
BTW - I am using MySQL with mysql2 so it is case-insensitive.

[2016-04-09 02:03] tjchambers commented on #31
User association definition:

  has_many :persons,
           foreign_key: :email,
           primary_key: :email,
           class_name: Person

Person default scope:

 COLLECTIVE_FILTER ||= 'exists(select 1 from collectives c
      where c.active = 1 and c.id = persons.tenant_id)'.freeze

  default_scope do
    where(active: true).where(COLLECTIVE_FILTER).order(:name, :id)
  end

[2016-04-09 02:21] jturkel commented on #31
Yeah. Definitely sounds like a Rails bug. Looking at where the exception is coming from Rails is failing to match up records based on the primary key/foreign key relationship in Ruby. Let me know if you hit any other issues with goldiloader.

[2016-04-09 15:41] tjchambers commented on #31
I added the `auto_include: false` and it failed elsewhere on a `user = @person.user` - the reverse association. I tried adding the auto_include on that and it still failed. What concerned me is that my IDE, RubyMine was telling me that the primary_key :email could not be located as a method (it is an attribute on the table).

SOoo...

I tried something very unusual that has worked for me in the pa

[2016-04-09 17:12] tjchambers opened #32 "Failure during replace of HABTM associations"
I have a straightforward HABTM setup:

[code]

Without goldiloader I get no errors from my unit tests.

However when I query with goldiloader in place I get strange results. I have a participant that is associated with 3 participant_subclasses.

when I do the following:

[code]

Visually if I `p @participant.participant_subclasses` I see one association:

[code]

This is very confusing. The way I

[2016-04-09 17:14] tjchambers commented on #32
BTW - is there a simple mechanism for turning goldiloader universally off? A config parameter I could use in an initiallizer?

[2016-04-09 17:21] tjchambers commented on #32
BTW I tried to workaround this issue with a `.clear ` on the associations, but that does not help because it is only clearing the 1 and not all 3.

I also tried sticking auto_include: false in and that did not workaround either. SO I feel like I am stuck again turning goldiloader off. This could certainly be a Rails bug, but unless I can turn off this occurrence I have to abandon the gem, which is

[2016-04-09 21:20] jturkel commented on #32
I'll take a look later today (a reproducible test case will definitely speed this process). With regards to disabling Goldiloader you can do the following in an initializer to change the default value for auto_include:

ActiveRecord::Associations::Association.default_auto_include = false

You can also change the default for particular types of associations:

ActiveRecord::Associations::HasManyThro

[2016-04-09 21:22] tjchambers commented on #32
I am a noob at the use of goldiloader, but my experience so far (without trying the above :) yet) is that changing adding auto_include: false does not work around my issue. SO I need to try your default value change. Thanks for that.

[2016-04-10 01:17] jturkel commented on #31
@tjchambers - I took another shot at reproducing this (and possibly automatically disabling automatic eager loading on affected associations until the rails bug is fixed) but didn't have any luck. The gist can be found [here](https://gist.github.com/jturkel/27cbd79c4b9d852512853b12055bcc96). Can you see if you can create a test case to reproduce the problem?

[2016-04-10 01:40] jturkel commented on #32
@tjchambers - I couldn't reproduce this problem. Can you modify this [gist](https://gist.github.com/jturkel/19f8b26e04a3a6e462d4f4a17db4be51) to reproduce the problem?

[2016-04-10 14:59] tjchambers commented on #31
@jturkel THis is very close to my model but there are some default scopes involved.This is a great kickstart for me to get close with this though. Assuming this is not a mysql2 only problem this really helps. I will add enough to get it to fail. I am confident that can be done.

[2016-04-10 18:27] tjchambers commented on #31
@jturkel after trying my best to reproduce I fell back to debugging the AR code. The problem is indeed a case-sensitivity issue. So I cannot reproduce it in SQLITE. The issue is that the person records have the email in a different case `TChambers@schellingpoint.com` then the query `tchambers@schellingpoint.com` so when it is looking at mapping the owner key, it expects to find a master record wit

[2016-04-10 23:39] tjchambers commented on #31
Further reading on the web leads me to infer this is a longstanding opinion of the Rails team - that they should not do case-insensitive comparisons internally. With Rails 4.2 they now support citext column type in Postgres. I do not use postgres (yet), but my inference is even though they support that type for that adapter, that you would still experience my issue above in Postgres with that colu

[2016-04-11 18:38] tjchambers commented on #31
I am closing this, because I feel it is a conflict between case-insensitivity in the db and the Rails hack to map master-detail associations which is case-sensitive. It is not specifically a goldiloader issue, and cannot be fixed in goldiloader.

[2016-04-11 18:38] #31 closed

[2016-04-11 18:52] jturkel commented on #31
@tjchambers - Were you able to get things working (other than #32) by disabling `auto_include` on the affected associations?

[2016-04-11 19:12] tjchambers commented on #31
I have not gotten back around to it yet, I spent all my available time trying to understand this one. I suspect that #32 is a different issue as it should not involve case-sensitivity.

[2016-04-27 13:32] jturkel commented on #32
@tjchambers - any luck coming up with a reproducible test case?

[2016-04-27 14:21] tjchambers commented on #32
@jturkel - it is still on my list. Was targeted for attention last Sunday, but I ended up on a mini-vacation instead. Retargeted for this Sunday. Please keep this open.

[2016-07-19 09:09] syamilmj opened #33 ""NameError uninitialized constant Goldiloader" on uninstallation"
Hi,

First of all, thank you for this great gem.

Some of our endpoints are being cached (using `Rails.cache`) and they failed with `Dalli::RingError: No server available` upon uninstalling goldiloader.

Checking the log, I saw this:

`NameError uninitialized constant Goldiloader`

Clearing up the cache brings back the server but I'm curious as to how I can prevent this in the future?

[2016-07-19 13:09] jturkel commented on #33
Hmm. Do you have a stack trace?

[2016-08-04 01:22] gavri opened #34 "auto_include: false isn't honored with HABTM"
https://github.com/gavri/goldiloader/commit/faad9758b52c3066b14da568340c77a5da0d2bdf

[2016-08-05 13:37] jturkel commented on #34
Looks like as of Rails 4.1 `has_and_belongs_to_many` creates a `has_many` association under the covers and the `auto_include` option isn't propagated to this association. Rails 3.2 and 4.0 are unaffected. I'm working on a fix.

[2016-08-05 15:27] gavri commented on #34
Thanks!

[2016-08-05 20:17] #34 closed

[2016-09-07 14:21] gavri opened #36 "has_many through to STI model does not work"
https://github.com/gavri/goldiloader/commit/25d9b82374ad532bb2d47b1568e819433dfe95bf

[2016-09-07 14:24] jturkel commented on #33
@syamilmj - Do you have a stack trace and/or a reproducible test case?

[2016-09-07 14:40] jturkel commented on #36
@gavri - Is this a duplicate of #12?

[2016-09-07 15:06] gavri commented on #36
It is.

[2016-09-07 15:06] #36 closed

[2016-09-26 19:13] syamilmj commented on #33
Hey jturkel, sorry for not replying earlier.

Unfortunately I no longer have the log. Here's a sample code to reproduce:

[code]

We're using Amazon Elasticache for memcached, and running EC2 servers.

[2016-09-28 00:03] jturkel commented on #33
@syamilmj - Do you have a minimal Rails app that can reproduce the issue? I'm happy to look into it if I can get a reproducible test case.

[2016-12-28 17:44] Tongboy commented on #27
@jturkel any help you need on this? I'm happy to help if there is. Goldiloader is our last gem dependency preventing our upgrade to rails 5 and it looks like we're facing issues based on the `from` customization.

[2016-12-28 19:49] jturkel opened #38 "Test JRuby 9000 with Rails 5"
This is blocked on https://github.com/jruby/activerecord-jdbc-adapter/issues/708

[2016-12-28 20:11] jturkel commented on #27
@Tongboy - This issue should have been closed awhile ago because Goldiloader *should* work fine with Rails 5. The customization of the `from` clause was fixed in https://github.com/rails/rails/commit/f138bea5da463509c0dc51283dd35e803796a77a which went into Rails 5.0.0. Can you file a new issue (with a reproducible test case) if you're still seeing any issues with Rails 5? Thanks.

[2016-12-28 20:11] #27 closed

[2017-01-12 10:24] fire2000 opened #39 "New instances of a tree like model wrongfully return true on the exists? method of the children association"
I hope the following testcase explains the problem better then any text i could write. The problem also seems to be limited to exists?, the children association itself returns an empty array.

Removing the goldiloader gem would make this test pass (just in case this questions comes to mind).

[code]

PS: Thank you for this nice gem.

[2017-01-13 21:07] jturkel commented on #39
Thanks for the great test case! It looks like the behavior we were trying to mimic changed in Rails 4.0 since the test case fails in Rails 3.2 without goldiloader but passes with newer versions of Rails. The problem is https://github.com/salsify/goldiloader/blob/master/lib/goldiloader/active_record_patches.rb#L166. I'll take a deeper look into this issue next week.

[2017-01-22 02:12] #39 closed

[2017-02-07 01:10] jturkel commented on #32
@tjchambers - I'm going to close this due to lack of activity. Please reopen it if you can come up with a reproducible test case.

[2017-02-07 01:10] #32 closed

[2017-02-07 01:12] jturkel commented on #33
@syamilmj - I'm closing this due to lack of activity. Please reopen if it if you can provide a reproducible test case and/or a stack trace.

[2017-03-08 10:29] coorasse opened #41 "Rails 5 belongs_to validation skipped"
When I include `goldiloader` gem in my application the Rails 5 validation on belongs_to association is skipped and not performed.

[2017-03-09 01:29] jturkel commented on #41
@coorasse - I wasn't able to reproduce this issue. My test case can be found in https://gist.github.com/jturkel/5aea783a05dbfc2b345132580e78921c. Can you modify this test case to reproduce the issue?

[2017-04-05 07:45] heguchi opened #42 "inverse_of does not work"
I have two models like below:

**model**

[code]

[code]

Without goldiloader, "inverse_of" automatically works.

[code]

But, "inverse_of" does not work correctly with goldiloader

[code]

rails: 5.0.2
goldiloader: 0.0.11

[2017-04-06 14:44] jturkel commented on #42
I've confirmed this is an issue when running with Rails 5.0.2 but it works fine with Rails 4.2.7. I'll look into it more shortly.

[2017-04-27 23:10] kylekermgard opened #44 "Rails 5.1 support"
Can you please update the rails dependency so this works with 5.1. I'm able to use the gem successfully with 5.1.0.rc2.

[2017-04-28 17:43] grosser commented on #44
need some help on https://github.com/salsify/goldiloader/pull/45 to get it green ... seems to be mostly working

[2017-05-01 18:28] #42 closed

[2017-05-01 18:28] jturkel commented on #42
@heguchi - A fix has been checked into master if you want to give it a try.

[2017-05-03 21:05] jturkel commented on #44
Fixed via #48.

[2017-05-03 21:05] #44 closed

[2017-05-05 00:29] jturkel commented on #41
@coorasse - I'm closing this issue since I can't reproduce it. Please reopen it if you can provide a reproducible test case.

[2017-05-05 00:29] #41 closed

[2017-05-05 19:05] grosser opened #53 "Rails 5.1: assert_valid_keys: Unknown key: :auto_include"
activesupport-5.1.0/lib/active_support/core_ext/hash/keys.rb:79:in `block in assert_valid_keys': Unknown key: :auto_include.

[2017-05-05 19:06] grosser commented on #53
[code]

[2017-05-05 19:06] jturkel commented on #53
See https://github.com/salsify/goldiloader#from-0x-1x

[2017-05-05 19:07] grosser commented on #53
thx

[2017-05-05 19:07] #53 closed

[2017-05-14 18:56] Svashta opened #54 "Stack level too deep, incomplete response"
Hi, after latest update I am getting errors from the title.
Is this something that points to my code problem or  goldieloader bug?
I mean, when i disable goldie it works just fine.

Thx

[2017-05-14 21:00] jturkel commented on #54
What other gems are you using? It's possible that the switch from alias_method_chain to Module#prepend is causing issues with monkey patching done by another gem. Does the latest 1.0.x goldiloader work for you?

[2017-05-19 02:28] heguchi commented on #42
@jturkel thank you!

[2017-05-19 12:59] jturkel commented on #54
@Svashta - Can you make the stack trace and your Gemfile.lock available?

[2017-05-19 18:01] westonganger opened #55 "Add configuration for"
Is there the ability to set goldiloader to set the whole application to `auto_include(false)` by default? I only want to use goldiloader for certain controller actions. I think I need something like:

[code]

Then when I want to use it I can do the following

[code]

[2017-05-19 18:32] jturkel commented on #55
We don't currently have this configuration option. Can you elaborate on why you only want to use goldiloader for certain controller actions (or is it certain models)? Also note the `auto_include` query scope method does not apply recursively e.g. `Blog.auto_include` will enable automatic eager loading of the blog's `posts` associations but it will not enable automatic eager loading of the post's a

[2017-05-19 18:46] westonganger commented on #55
Yeah it was for nested includes. That kills the main purpose for this. However it may be nice to implement this so its not an all or nothing approach.

[2017-05-19 19:04] jturkel commented on #55
One possibility would be to implement a block form of `auto_include` that would apply for the scope of the block e.g.

[code]

[2017-05-19 19:10] westonganger commented on #55
Thats another interesting idea which could make this library pretty powerful. I think both of these ideas should be added.

[2017-05-19 19:41] jturkel commented on #55
I'm totally open to implementing this enhancement but can you elaborate on why you don't want to enable goldiloader by default? What are the scenarios where it's not working for you?

[2017-05-19 19:43] westonganger commented on #55
Well it was to do with the nested includes, that argument is now void. Its just a lot of magic, I could see some people might like it be more explicit and opt-in only when they want, they should have that option.

[2017-05-30 22:35] MrWilhelm commented on #54
I'm also having stack level too deep error. I came up with this when I upgraded ruby version to 2.4.0 (I also did bundle update so).

This is what I get from tests.
[code]

These lines repeated endlessly.

[2017-05-30 23:22] jturkel commented on #54
@MrWilhelm - It looks like the switch by Goldiloader 2.0 to use `Module#prepend` instead of `alias_method` is conflicting with the monkey patching done by the bullet gem. Fortunately bullet seems to have also switched over to use `Module#prepend` in https://github.com/flyerhzm/bullet/commit/57c3335be22066117210f596b1c3a8a0e7b5d0e9 which hasn't been released yet. Two questions:

1) Does the problem

[2017-06-02 15:53] inyigo commented on #54
@jturkel the problem goes away if I use bullet's latest commit on their `master` branch

[2017-06-14 00:28] Tongboy commented on #54
had same issue - same fix worked. bullet still hasn't cut a new gem yet.

[2017-06-30 05:02] echan00 commented on #54
I'm also having this problem. Removing bullet gem fixes the problem, but using the latest commit doesn't

`gem 'bullet', :github => 'flyerhzm/bullet',  :ref => '4b9bff567e1c0bcfeb507fce1290a907b46c22b8'`

[2017-06-30 05:36] Tongboy commented on #54
@echan00 - that's the same revision we're on

[2017-06-30 14:35] echan00 commented on #54
And to confirm, that revision solves the problem for you?

_____________________________
From: Jeremiah <notifications@github.com<mailto:notifications@github.com>>
Sent: Thursday, June 29, 2017 10:36 PM
Subject: Re: [salsify/goldiloader] Stack level too deep, incomplete response (#54)
To: salsify/goldiloader <goldiloader@noreply.github.com<mailto:goldiloader@noreply.github.com>>
Cc: Erik Chan <eri

[2017-06-30 15:30] Tongboy commented on #54
yes it does

[2017-07-06 01:36] NullVoxPopuli commented on #14
is this still an issue?

[2017-07-06 02:02] jturkel commented on #14
@NullVoxPopuli - Yes, it's still an issue. The Rails bug still seems to be present in Rails 5.1.2. See this [gist](https://gist.github.com/jturkel/84c50e76c1a6cc074d172ade4c97c19b).

[2017-08-07 15:24] spodlecki commented on #54
The githhub reference does not work for me:

[code]

bullet initializer:
[code]

[2017-08-09 18:33] jturkel commented on #54
@spodlecki - Can you paste your Gemfile.lock?

On a somewhat related note, what's the motivation for using Bullet since Goldiloader _should_ be handling eager loading for you?

[2017-08-11 03:51] kingdomheartdl commented on #18
@jturkel I tried `ActiveRecord::Associations::HasManyThroughAssociation.default_auto_include = false` and got issue
[code]
Then got issue `SystemStackError: stack level too deep` when tried add `auto_include` to association
[code]

[2017-08-11 10:31] jturkel commented on #18
@kingdomheartdl - The auto_include association option was removed in 2.0 in favor of an ActiveRecord query method that is usable in more situations. See https://github.com/salsify/goldiloader/pull/52 and the upgrade section of the README for more details. Is your stack overflow being caused by https://github.com/salsify/goldiloader/issues/54?

[2017-08-16 07:56] HienNguyenAsnet commented on #18
I used uncope to bypass this issue
[code]
We will got issue when `includes` photo for people `People.includes(:photos)`
[code]

Use unscope for scope `photos` model `People` will help fix it
[code]

Now, when execute `People.includes(:photos)`. It's work fine.
[code]

But I have another issue:
- When I load `photos` first then load `locations`. It's work fine.
- When I load `locations` first then

[2017-08-17 04:00] HienNguyenAsnet commented on #18
I found the issue. The reason is association `photos` is not loaded but through association `locations` loaded. So when run function `Goldiloader::AssociationPatch.load_with_auto_include`, it's call `Goldiloader::ThroughAssociationPatch.auto_include?` to check `through_association.auto_include?`. But `locations` loaded so `through_association.auto_include?` will return `false` and make loop foreve

[2017-08-17 14:08] jturkel commented on #18
@HienNguyenAsnet - The issue with the invalid SQL when doing `People.includes(:photos)` is caused by #12 (which is really a bug in the Rails eager loader). The issue with the `SystemStackError` is caused by conflicts between goldiloader and bullet. Using bullet 5.6.0 seems to fix the problem but only when using Rails 5+. Assuming you want to stay with Rails 4.2, you should either remove bullet fro

[2018-01-20 01:06] #38 closed

[2018-02-05 14:23] SzNagyMisu commented on #14
Encountered the same problem (ruby 2.4.1, Rails 5.1.4). Only I do not have any `includes` in the scope

    class Blog < ApplicationRecord
      has_many :posts
      has_many :authors, -> { where name: 'James' }, through: :posts
    end

    class Post < ApplicationRecord
      belongs_to :author
      belongs_to :blog
    end

    class Author < ApplicationRecord
      has_many :posts
    end

O

[2018-02-11 08:32] jgrau opened #60 "Too many assiated models may be loaded"
First of all thanks for a great gem. I use this heavily.

I'll try to explain my problem:

I have a controller action that does something like this

[code]

The SimilarRooms service (stripped down to what matters):

[code]

When I render the collection (which only includes the top 50 rooms) I also include data from an associated `company` `has_one` relation. That association is preloaded, however,

[2018-02-12 15:09] jturkel commented on #60
The explanation makes sense and the behavior you're seeing is expected. You can restrict the scope of models used for automatic eager loading by doing the following from `SimilarRooms`:

[code]

[2018-02-13 13:17] jgrau commented on #60
Thanks for explaining and for the solution!

[2018-02-13 13:17] #60 closed

[2018-03-05 19:10] sobrinho opened #61 "Ignore has one associations that relies on LIMIT 1"
Hi there,

We can almost detect that relies on LIMIT 1 by checking if an order was specified.

Example:

[code]

If the order is specified, we are certain that the database may have more than one record.

In that case, we can simply do not auto include because we know that may trigger a problem.

Wdyt?

[2018-03-05 19:34] jturkel commented on #61
Sounds reasonable. Want to take a crack at a PR?

[2018-03-05 20:02] sobrinho commented on #61
Yes, sure!

I will work on this.

[2018-03-29 13:43] jturkel opened #63 "Rails 5.2 Support"
There are currently two failing tests with Rails 5.2 RC2:

[code]
The run in Travis can be found [here](https://travis-ci.org/salsify/goldiloader/builds/359845460).

[2018-03-29 13:51] jturkel commented on #63
Looks like this broke with https://github.com/rails/rails/commit/a84c76573fa776e377c087930dcbdc3a07eb8603. The fix will be either:

* Don't perform automatic eager loading if the model has been destroyed.
* Modify `ActiveRecord::Associations::BelongsToAssociation#target=` to only call `replace_keys` if `different_target?(record)` returns true.

I'll open a Rails issue to see if we can get it fixed

[2018-03-29 16:03] jturkel commented on #63
https://github.com/rails/rails/pull/32375 has been filed. We'll see what happens and take it from there.

[2018-04-10 01:57] flyfy1 opened #65 "Rails 5.2 with bundle install"
In the gemfile, it states that it requires rails version < 5.2 <https://github.com/salsify/goldiloader/blob/master/goldiloader.gemspec#L26>

Therefore, it would fail the rails v5.2 when doing bundle install, having the following error:

[code]

strangely, this error only happens since today.

What's the reason for this gem to require rails version < 5.2 ?

Thanks 😄

[2018-04-10 02:07] jturkel commented on #65
The gem use fairly pessimistic Rails version constraints because it leverages a few internal APIs that change from minor release to minor release. I like to make sure all tests are passing before releasing a version with official support for a new major/minor release of Rails. You can follow  the status of Rails 5.2 support in #63.

[2018-04-10 02:09] jturkel commented on #63
Looks like Rails 5.2.0 was released today without https://github.com/rails/rails/pull/32375. I’ll go ahead and implement the workaround this week.

[2018-04-10 16:15] pedrofurtado commented on #63
Rails 5.2.0 is out and stable. Could you upgrade the Rails dependency version to 5.2?

[2018-04-10 18:08] #63 closed

[2018-04-10 18:17] jturkel commented on #63
Goldiloader 2.1.0 with Rails 5.2 support has been released.

[2018-04-11 17:14] pedrofurtado commented on #63
@jturkel Thanks man!

[2018-07-10 15:42] sfcgeorge commented on #12
I just tried Goldiloader and immediately had some issue involving the STI type field. However it seems to be fixed in Rails 5.2 (finally) and sure enough upgrading does seem to have fixed my issue :) https://github.com/rails/rails/pull/14312

So, if anyone else experiencing STI issues with Goldiloader could upgrade to Rails 5.2 and confirm that the issue is fixed for them too, then I think this is

[2018-07-10 17:50] jturkel commented on #12
Nice! I've confirmed this is fixed in 5.2.0 via the following [gist](https://gist.github.com/jturkel/c46e0297478c9acc2bc177d496009877).

[2018-07-10 17:50] #12 closed

[2018-07-10 17:52] #65 closed

[2018-07-10 19:02] jturkel commented on #14
This has been fixed in Rails 5.2. See this [gist](https://gist.github.com/jturkel/8693bd3e07db2cbe92b034677dfa2491) for a reproducible test case.

[2018-07-10 19:02] #14 closed

[2018-07-10 19:26] #18 closed, assigned to nobody

[2018-10-06 16:06] sobrinho commented on #54
Maybe we can close that due to the lack of activity?

[2018-10-07 17:52] #61 closed

[2018-10-07 23:04] jturkel commented on #54
Closing due to inactivity. Please reopen this if this still reproduces with the latest version of bullet.

[2018-10-07 23:04] #54 closed

[2018-10-08 11:52] sobrinho commented on #55
@jturkel I can make a PR for this one.

Just wondering if that makes sense to implement! :)

[2018-10-08 18:38] jturkel commented on #55
I'd be open to a change that adds a global configuration for enabling/disabling golidloader (as long as the default is enabled) + a block form of `auto_include(enabled = true)` as long as it interacts cleaning with the `auto_include` query scope introduced in #52.

[2019-05-08 12:37] nadiyaka opened #87 "Issue with Rails 6.0.0.rc1"
I have received many duplicated errors associated with Goldiloader after Rails update to 6.0.0.rc1 version.

[code]

Can you please help me to fix them?

[2019-05-09 18:46] jturkel commented on #87
@nadiyaka - Can you confirm this issue is fixed in Goldiloader 3.1.1?

[2019-05-11 10:45] nadiyaka commented on #87
Yes! Thank you :)

[2019-05-11 11:38] #87 closed

[2019-05-18 07:56] Ad1n opened #88 "Goldiloader with ActiveStorage"
Dear author(s),

I have issue with pack of goldiloader with ActiveStorage.
When i tried to remove something AS or update i fell into "Stack too deep" error.
Through this gem we can disabling goldiloader auto-loading only for associations.
It will be best upgrade for gem if it possible to disabling auto eager loading for AS association. For example something like this:
**"has_many_attached :somethi

[2019-05-20 13:04] jturkel commented on #88
Thanks for the bug report @Ad1n. I agree goldiloader should either properly handle eager loading of these associations (at least the DB part) or automatically disable auto eager loading on them. I'll try to take a look this week or next week. If you're up for it, a reproducible test case (either using the goldiloader tests or the Rails [test case template](https://github.com/rails/rails/blob/5-2-s

[2019-05-27 17:20] Ad1n commented on #88
Sry but i have a little of time...
You could easy build the test case by only adding active storage to any project and try to add something to storage with active goldiloader in project.

Very thankful for your feedback.
Goldi is full of benefits.

[2019-12-17 17:34] hans-hauge opened #92 "This is not an issue"
I just wanted to say thanks, this gem rocks!

[2019-12-18 15:47] jturkel commented on #92
Thanks @hans-hauge! I wish all goldiloader issues were like this 🙃

[2019-12-18 15:47] #92 closed

[2020-04-18 15:41] kaspernj commented on #88
Is there any solution to this? I just ran into the issue as well.

[2020-04-18 16:14] kaspernj commented on #88
Here is a hack to disable Goldi-loading for the ActiveStorage::Attachment blob relationship. Add an initializer called "config/initializers/goldiloader.rb":
[code]

[2020-04-18 17:42] jturkel commented on #88
@kaspernj  - Glad you figured out a workaround. I'd love to get this fixed properly in goldiloader but first I need a failing test. The testing setup to get ActiveStorage working is a bit complicated because goldiloader's tests don't rely on a full Rails application setup. I spent some time reviving my old activestorage branch and made some good progress but don't yet have a reproducible test case

[2020-04-18 18:02] kaspernj commented on #88
@jturkel I just tried to fork the library and get your tests to fail here as well with no luck. I don't have experience with the code for Goldiloader, so it can be quite hard for me to imagine what the difference could be when running in my app and when running the specs in Goldiloader.

I can provide a stack trace when it fails in my app?

[2020-04-18 18:03] jturkel commented on #88
The stacktrace would be really useful.

[2020-04-18 18:09] kaspernj commented on #88
Here is some of the stack trace with three repeats:
[code]

[2020-04-20 14:14] jturkel commented on #88
@kaspernj  - Can you regenerate a stacktrace with the Rails backtrace cleaner disabled (call `Rails.backtrace_cleaner.remove_silencers!` in an initializer)? Also can you post:

1. The definition of the `url` method from app/api_maker/resources/active_storage_attachment_resource.rb
1. The definition of the ActiveStorage association definition that's causing problems

[2020-04-20 18:24] kaspernj commented on #88
1.
[code]

2. https://github.com/rails/rails/blob/master/activestorage/app/models/active_storage/attachment.rb#L14

[2020-04-25 20:53] jturkel commented on #88
@kaspernj - I took a crack at creating a new Rails application with Active Storage and Golidloader but I had no luck recreating the problem. I tried both `has_one_attached` and `has_many_attached` associations and both automatically eager loaded without any problems. Can you take a look and see if you can reproduce the problem? The app is in https://github.com/jturkel/active_storage_test.

[2020-12-10 03:29] cseelus opened #97 "Compatibility with Rails 6.1"
Hello Salsify Team. Goldiloader seems to not be compatible with Rails 6.1, which was released today:

[code]

Is there a specific reason why it depends on AR < 6.1?

[2020-12-10 11:57] pedrofurtado opened #98 "Plans to release a version to enable Rails 6.1 as dependency?"
Hey guys!

Is there any plans to release a version to enable Rails 6.1 as dependency?

[2020-12-10 11:58] jturkel commented on #98
I'm working on a release right now :) It should be out this morning.

[2020-12-10 11:59] pedrofurtado commented on #98
Yeeeesssssss! Thank you so much 🍻

[2020-12-10 12:10] jturkel commented on #97
Thanks for the heads up @cseelus! I'll get a goldiloader release out this morning.

[2020-12-10 14:59] #97 closed

[2020-12-10 15:04] jturkel commented on #98
Rails 6.1 support was released in goldiloader 3.2.0 🎉

[2020-12-10 15:04] #98 closed

[2020-12-10 15:04] jturkel commented on #97
Rails 6.1 support was released in goldiloader 3.2.0 🎉

[2020-12-10 16:41] cseelus commented on #97
Thanks, that was fast! 🥳

[2021-04-05 00:24] ricsdeol commented on #88
I have the same problem, when I find an Attachment, like `@attachment = ActiveStorage::Attachment..find(params[:id])`
and call `@attachment.record` or `@attachment.purge`

[2021-04-05 13:39] jturkel commented on #88
@ricsdeol - I'd love to get this problem fixed but I've been stuck on the lack of a reproducible test case. Anything you can do to get me access to a reproducible test case for debugging would be greatly appreciated. My attempt to reproduce the problem via the goldiloader test suite can be found [here](https://github.com/salsify/goldiloader/compare/feature/active-storage) and my attempt to reprodu

[2021-04-07 08:46] luizkowalski opened #105 "got an error while trying to load a polymorphic association"
Hi

I have the following structure:

[code]
I don't have any other validations.

after adding `goldiloader` i started seeing this error on my specs:

[code]

I tried to add `-> { auto_include(false) }` to disable eager loading to the associations on app_notification, even on user. nothing helped.

Is this an issue or misconfiguration?

[2021-04-07 17:48] jturkel commented on #105
Thanks for reporting this issue. I'm able to reproduce the problem which occurs whenever using a polymorphic association with a scope block in Rails 6.0+. I'll work on getting a fix out this week.

[2021-04-09 16:33] #105 closed

[2021-04-09 17:01] jturkel commented on #105
Fix released in 4.0.1. Thanks for reporting the issue @luizkowalski.

[2021-06-09 09:54] viktorianer opened #109 "Eager load arbitrary nesting associations (with STI)"
First of all thanks for a great gem.

I just found it and would like to use it in a project, where we heavily use `includes`. So, we need the feature to eager load `arbitrary nesting of associations`. But it looks like it is limited to what it can do for us, because it does not load all nesting associations. I'll try to explain my problem:

Some of our Models:

[code]

In the `candidate` views I r

[2021-06-09 10:04] viktorianer commented on #109
On another model it does not load following nesting associations:

[code]

With this `includes` it is loading all items, without it does not load `language` and `project: [:company]`.

[2021-06-09 21:19] jturkel commented on #109
Thanks for the @viktorianer question. Goldiloader should lazily eager load nested associations when they are first traversed. In your example I would expect to see the following eager loading happening:

[code]
Can you try running this in Rails Console and confirm in the ActiveRecord SQL logs that you're not eager loading in Step 3? Also you mentioned STI, does this problem only happen when the "r

[2021-06-10 14:44] jturkel commented on #109
I tried writing a test case in this [gist](https://gist.github.com/jturkel/6e4aa67dfe1d521616806d0b6d42dcec) but couldn't reproduce the problem. @viktorianer - Can you update that gist to demonstrate the problem?

[2021-06-11 15:25] viktorianer commented on #109
Hey jturkel, thank you for your fast replay and help.

I just tried, what you suggested, and it looks like it does not work.

With `includes` it looks good:

[code]

Without `includes` not:

[code]

I will check your gist and cam back. Thank you!

[2021-06-11 15:46] viktorianer commented on #109
Gist looks good to me. But, in my rails console I get in each case

[code]

But, I found now something interesting! In our `Person` model, we also have the relation `nationalities`:

[code]

And if I load this, it loads as expected!

[code]

It looks like it is Active Model / Active Record problem?

[2021-07-06 16:39] jturkel commented on #109
@viktorianer - A few interesting things jump out to me from these logs:

1) There seems to be a `candidates` table and the SQL queries have a `"persons_nationalities"."person_type" = 'Candidate'` filter. Are you using STI for the `Person` and `Candidate` model (in which case there should be a `people` table not a `candidates` table) or is the `Person` model an abstract base class (i.e. sets `self.

[2021-07-07 15:24] viktorianer commented on #109
Hey @jturkel, thank you for looking at this issue.
1. Yes, `Person` is `self.abstract_class = true`
2. No, `persons_nationalities` association is without any scopes. The `LIMIT` is normal AR/Rails Feature since Rails 5.1 https://github.com/rails/rails/pull/28592

[2021-11-30 00:20] biow0lf opened #115 "Goldiloader don't preload data"
Hi,

I configure `goldiloader` with `Goldiloader.globally_enabled = false` via rails initializer  in `config/initializers/goldiloader.rb`:

[code]

and it doesn't preload data in blocks. For example:

[code]

Changing `Goldiloader.globally_enabled` in initiliazer to `true`, "fixing" problem.

As I understand documentation, if I set `Goldiloader.globally_enabled` to `true`, goldiloader works.
If I

[2021-11-30 15:57] jturkel commented on #115
It looks like the block with Goldiloader enabled is creating an ActiveRecord::Relation but isn't actually trigger the execution of that relation or any associated models. Goldiloader only preloads an association when it's accessed so you'll need to make sure Goldiloader is enabled at that point. For example:

[code]
In practice this means you need Goldiloader to be enabled for a pretty broad scope

[2022-02-02 17:30] arashster opened #117 "Auto-include only after a certain number of calls to the association?"
Is there any way to configure Goldiloader to auto-include only when a certain number of calls to the associations are made?

For example, (not a great example), if we are iterating
[code]

In this example, we only called blog.comments once, and only for the first blog. So we didn't really need to auto_include all comments for every other blog.

But if we set a threshold, of say 3, and if we make a

[2022-02-07 22:41] jturkel commented on #117
There's currently nothing to do this automatically but could you do it manually by enabling/disabling auto-include at the appropriate time? For example:

[code]
This manual approach also ensures that you don't take the performance hit of running extra queries when you want regular automatic eager loading.

[2022-07-14 17:59] jturkel commented on #109
@viktorianer - Apologies. I missed your reply to this issue. I created a new [gist](https://gist.github.com/jturkel/f1e8542b99a43dd42b4c3e550b42263a) with an abstract `Person` model but I still can't reproduce the issue. Are you sure the test case's database schema and ActiveRecord models correctly match your setup?

Looking at the SQL logs in this [comment](https://github.com/salsify/goldiloader/

[2022-07-14 18:20] viktorianer commented on #109
OK, looks like `.to_a` "fix" it. But `Candidate.includes(persons_nationalities: [:nationality])` is just working out of the box. From my site, we can close this issue then.

[2022-07-14 19:14] jturkel commented on #109
The `to_a` is really just an artifact of testing this out on Rails console which call `inspect` to print the returned result. It's not something you'll need in your production app. A more realistic snippet you can run from Rails console to show the lazy eager loading in action is:

[code]
This snippet should run three database queries: one to load the candidates, one to load all of the person nati

[2022-07-15 08:38] viktorianer commented on #109
I know.

I can not check it, because I do not work on this project anymore. But I think, now I have an idea, why it is different to "Rails default" console output. But also have yet no time to check it. Instead, I checked it with your [gist](https://gist.github.com/jturkel/f1e8542b99a43dd42b4c3e550b42263a) and also added a second call to it. And it looks it is working correct.

[code]

As I said,

[2022-07-15 08:38] #109 closed

[2022-08-29 18:47] sobrinho opened #120 "Do not lose the goldiloader with additional includes"
By calling something like:

[code]

We lose the goldiloader here because of the `includes`.

Although, the includes itself shouldn't cause any issues if we somehow simple merge it with the detected `includes`.

Another approach is to get rid of every single `includes` from the app if we rely entirely on goldiloader, but that's heavy compared to only adding the gem 🤷

[2022-09-07 18:04] jturkel commented on #120
Thanks for filing this issue @sobrinho. Unfortunately calling `includes` (or any other methods from the Active Record query interface method like `where`) on an association creates a new query scope that is independent from the association so none of the existing Goldiloader code for detecting when to perform automatic eager loading on that association will work. I don't think we want to change th

[2022-10-21 20:27] sobrinho commented on #120
Sounds good to me, thanks!

[2022-10-21 20:27] #120 closed

[2022-10-28 16:32] jturkel opened #121 "Rails edge build failing in database_cleaner-active_record"
The Rails edge builds are failing with the following error:

[code]

This is due to https://github.com/DatabaseCleaner/database_cleaner/issues/693

[2022-11-15 17:49] #117 closed

[2022-11-15 17:50] #115 closed